* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px "Helvatica Neue", Arial, sans-serif;
    background: rgb(19, 19, 19);
    color: #FFF;

    h1 {
        font-size: 64px;
    }
}